@import './index.scss';

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
#app {
  background: var(--el-fill-color-light);
  width: 100vw;
  height: 100vh;
  --el-menu-item-height: 40px;
}

